<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>系统介绍</title>
<link href="../../lib/layui/css/layui.css" rel="stylesheet" />
<link href="../../lib/font-awesome-4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../lib/winui/css/winui.css" rel="stylesheet" />
<style>
ol {
	padding-left: 20px;
}

ol>li {
	list-style-type: decimal;
	font-size: 13px;
	color: #444
}
</style>
</head>
<body class="winui-window-body">
	<div class="winui-tab" style="height: 100%">
		<div class="winui-tab-left">
			<div class="winui-scroll-y"
				style="height: auto; position: absolute; top: 0; bottom: 0;">
				<ul class="winui-tab-nav">
					<li class="winui-this"><i class="fa fa-info-circle fa-fw"></i>系统介绍</li>
					<li><i class="fa fa-clock-o fa-fw"></i>系统创新和特色</li>
					<li><i class="fa fa-bug fa-fw"></i>预期研究成果</li>
					<li><i class="fa fa-bug fa-fw"></i>版权说明</li>
				</ul>
			</div>
		</div>
		<div class="winui-tab-right">
			<div class="winui-scroll-y">
				<div class="winui-tab-content">
					<div class="winui-tab-item layui-show">
						<blockquote class="layui-elem-quote">公共安全预警关键技术研究</blockquote>
						<div class="layui-collapse" style="font-size: 14px;">
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">简介</h2>
								<div class="layui-colla-content layui-show">
									<blockquote class="layui-elem-quote">
										本项目以传感数据为研究对象，系统地研究传感数据准实时学习与挖掘的基础理论、方 法和技术，
										为公共安全事件的预警服务奠定理论基础并提供技术支撑。 针对现实世界一果多
										因、相互关联、环环相扣的复杂状态及公共安全事件预警中及时准确的预警要求， 本项目凝
										练出“传感数据的表示与耦合”、“非独立同分布数据的计算与推理”、“事件态势预测与预警” 三个关键技术。</blockquote>
								</div>
							</div>
							<div class="layui-colla-item">
								<h2 class="layui-colla-title">功能介绍</h2>
								<div class="layui-colla-content layui-show">
									<blockquote class="layui-elem-quote">
										1. 多视角聚类 <br /> 
										2. 流数据聚类 <br /> 
										3. 流数据异常检测 <br /> 
										4. 网络嵌入 <br /> 
										5. 基于社区发现的谣言预测 <br /> 
										6. 基于原路径的异质网络发现 <br /> 
										7. 转发量预测 <br /> 
										</blockquote>
								</div>
							</div>
						</div>

					</div>
					<div class="winui-tab-item">
						<blockquote class="layui-elem-quote">本项目的特色与创新之处</blockquote>
						<div class="layui-collapse" style="font-size: 14px;">
							<div class="layui-colla-item">
							
								<div class="layui-colla-content layui-show">
									<blockquote class="layui-elem-quote">
										本项目的特色及创新体现在如下4个方面： <br /> （1）实时信息获取。获取实时的事件状态是准确预警的一个重要条件。<br />传感设备能够
										获取现实世界准实时的动态数据，与从新闻和社会媒体报道中获取信息的方式相比，基于传
										感数据的预警具有更强的真实性、客观性和更短的时延。<br />
										（2）感知数据驱动。通过传感的手段，系统能够大规模部署传感设备，获取大量、足
										够丰富的数据，这些数据能够客观、定量地反映真实环境的现场状态，因此由数据驱动的计 算与推理系统获得的知识更加客观。<br />
										（3）非独立同分布假设及信息的多级耦合。项目的研究基于非独立同分布的假设，采<br />
										用了多阶段、多层次的耦合策略，提高了信息整合的性能，较为真实地刻画了现实世界一果 多因、相互关联、环环相扣的复杂状态。 <br />（4）离线建模与在线预测相结合。大量历史数据的学习离线处理，而准实时的公共安<br />
										全事件预测预警和预案支持在线处理。两种方式的结合既利于对传感数据演化机制的挖掘， 也满足实际应用的需求。
									</blockquote>
								</div>
							</div>
						</div>
					</div>
					<div class="winui-tab-item">
						<blockquote class="layui-elem-quote">预期研究成果</blockquote>
						<div class="layui-collapse" style="font-size: 14px;">
							<div class="layui-colla-item">
							
								<div class="layui-colla-content layui-show">
									<blockquote class="layui-elem-quote">
										（1）传感数据的表示与耦合预期成果：针对具有海量、异构、动态变化特性的传感数
										据，对传感数据的有效性、质量和蕴含模式进行辨识，提出对传感数据关联性语义结构进行
										一致性描述的特征提取与描述方法，建立数据的耦合模型。 <br /> （2）传感数据计算与推理预期成果：
										建立适用于非独立同分布数据的耦合挖掘模型与 算法，提出模式演化的分析算法，设计能够实现“由因导果”和“执果溯因”的推理模型与
										算法。 <br /> （3）事件态势预测与预警服务预期成果：集成相关算法，完成实验验证，开发公共安
										全事件预警原型系统，预测公共安全事件和态势的走向，评价各种后果，提供快速预警服务。
										 <br />（4）预期在国内外重要学术期刊及会议上发表具有较高水平的学术论文8~14 篇，其 中SCI 、EI 收录5~8
										篇，申请发明专利、计算机软件著作权登记2~5 项，培养博士、硕 士研究生9~15名。</blockquote>
								</div>
							</div>
						</div>
					</div>
					<div class="winui-tab-item">
					<blockquote class="layui-elem-quote">版权说明</blockquote>
						<div class="layui-collapse" style="font-size: 14px;">
							<div class="layui-colla-item">
							
								<div class="layui-colla-content layui-show">
									<blockquote class="layui-elem-quote">
									 version:0.1.	 <br /> 
									  开始周期:2018-2019.	 <br /> 
									 	云南大学信息学院，1512实验室，负责人:周丽华. <br />
										</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../lib/layui/layui.js"></script>
	<script type="text/javascript">
		layui.config({
			base : '../../lib/winui/' //指定 winui 路径
		}).use([ 'winui' ]);

		window.onload = function() {
			winui.init();
		}
	</script>
</body>
</html>